* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron h4 {
  font-size: 2.5em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
}
.btn-ctnr {
  width: 50%;
}

.btn-ctnr button {
  font-size: 1.5em;
}

.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  margin: 10px;
}

.hide {
  display: none;
}
